name: Node.js Package

on:
  schedule:
    - cron: '0 2 * * 0'
  workflow_dispatch: ~

permissions:
  contents: write
  id-token: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: v1.x
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - uses: actions/setup-node@v3
        with:
          cache: 'pnpm'
          node-version: lts/*
          registry-url: https://registry.npmjs.org/

      - run: pnpm i

      - uses: actions/github-script@v6
        id: my-script
        env:
          FORCE_COLOR: 3
        with:
          script: |
            const { default: script } = await import('${{ github.workspace }}/scripts/update-fork.mjs')
            return script({ core })

      - uses: stefanzweifel/git-auto-commit-action@v4
        id: git-auto-commit
        if: fromJSON(steps.my-script.outputs.result).continue
        with:
          commit_message: |
            chore: update user agents database
          commit_author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          branch: v1.x

      - name: GitHub Release
        uses: softprops/action-gh-release@v0.1.15
        if: fromJSON(steps.my-script.outputs.result).continue
        with:
          tag_name: ${{ fromJSON(steps.my-script.outputs.result).version }}
          target_commitish: ${{ steps.git-auto-commit.outputs.commit_hash }}
          generate_release_notes: true

      - run: pnpm publish --access public --provenance --tag latest-v1 --no-git-checks
        if: fromJSON(steps.my-script.outputs.result).continue
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
